In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import nltk

In [3]:
data1 = pd.read_csv('clean_d_tweets.csv')

In [4]:
data1.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1261623711502753792,1261623711502753792,1.589630e+12,2020-05-16 01:45:07,-1000,NaN,the real reason why you be sad you be attach t...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1255537912491343872,1255537912491343872,1.588179e+12,2020-04-29 06:42:19,-1000,NaN,my biggest problem be overthinking everything,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1255524270521761792,1255524270521761792,1.588175e+12,2020-04-29 05:48:07,-1000,NaN,the worst sadness be the sadness you have teac...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1255524059334365186,1255524059334365186,1.588175e+12,2020-04-29 05:47:16,-1000,NaN,i cannot make you understand i cannot make any...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1172463022100512769,1172463022100512769,1.568372e+12,2019-09-13 00:52:22,-1000,NaN,i do not think anyone really understand how ti...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [5]:
data2 = pd.read_csv('clean_non_d_tweets.csv')

In [6]:
data2.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1424756177682927617,1424756177682927617,1.628523e+12,2021-08-09 05:35:18,-1000,NaN,touch pass be the new asmr,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1424741357592084485,1424741357592084485,1.628520e+12,2021-08-09 04:36:24,-1000,NaN,12 years ago i call my dad and he give me some...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1424739267553550337,1424739267553550337,1.628519e+12,2021-08-09 04:28:06,-1000,NaN,there be 6500 languages yet i choose to only s...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1424733524234366985,1424733524234366985,1.628518e+12,2021-08-09 04:05:17,-1000,NaN,hey everyone ask for a raise today i be tell y...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1424504791527411712,1424504791527411712,1.628463e+12,2021-08-08 12:56:22,-1000,NaN,i invest in 47 startups in a year here be how ...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [13]:
data2['language'].value_counts()

en     4593
und      31
tl       30
es        5
fr        5
ja        4
in        4
ht        3
nl        3
no        1
hi        1
cs        1
ro        1
ca        1
fi        1
de        1
lt        1
pt        1
Name: language, dtype: int64

In [11]:
data2['username'].value_counts()

ConanOBrien      996
IyanlaVanzant    982
simonsinek       914
baemax           697
ShaanVP          694
qtcinderella     404
Name: username, dtype: int64

In [36]:
data1.drop(['id', 'conversation_id', 'created_at', 'date', 'timezone', 'place', 'hashtags', 'cashtags', 'user_id', 'user_id_str'
           , 'name', 'day', 'hour', 'link', 'urls', 'photos', 'video',
       'thumbnail', 'retweet', 'nlikes', 'nreplies', 'nretweets', 'quote_url',
       'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest' ], 1, inplace= True)

In [38]:
data1.head()

                                               tweet language      Label
0  the real reason why you be sad you be attach t...       en  Depressed
1      my biggest problem be overthinking everything       en  Depressed
2  the worst sadness be the sadness you have teac...       en  Depressed
3  i cannot make you understand i cannot make any...       en  Depressed
4  i do not think anyone really understand how ti...       en  Depressed

In [39]:
#data1.drop('username', 1, inplace= True)

In [8]:
Label = np.random.choice(np.array(['Depressed']),3082 )

In [9]:
Label = Label.transpose()

In [10]:
Label = pd.DataFrame(Label)

In [33]:
Label = Label.rename(columns= {0: 'Label'})

In [40]:
#data1 = data1.join(Label)

In [13]:
data2.drop(['id', 'conversation_id', 'created_at', 'date', 'timezone', 'place', 'hashtags', 'cashtags', 'user_id', 'user_id_str'
           , 'name', 'day', 'hour', 'link', 'urls', 'photos', 'video',
       'thumbnail', 'retweet', 'nlikes', 'nreplies', 'nretweets', 'quote_url',
       'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest', 'username' ], 1, inplace= True)

In [41]:
data2.tail()

,tweet,language,Label
4682,cardi b want to trademark her catchphrase okur...,en,Not_Depressed
4683,i will bet kellyanne and george conway have pr...,en,Not_Depressed
4684,fan be always ask me how they can watch the ol...,en,Not_Depressed
4685,ray romano be a hilarious comedian a kind soul...,en,Not_Depressed
4686,muellers report may be finish but mine be out ...,en,Not_Depressed

In [42]:
data1

                                                  tweet language      Label
0     the real reason why you be sad you be attach t...       en  Depressed
1         my biggest problem be overthinking everything       en  Depressed
2     the worst sadness be the sadness you have teac...       en  Depressed
3     i cannot make you understand i cannot make any...       en  Depressed
4     i do not think anyone really understand how ti...       en  Depressed
...                                                 ...      ...        ...
3077                          cough sneeze be tho worst       en  Depressed
3078                      i can be your sad whore ahaha       en  Depressed
3079             bro that feel you get after you sneeze       en  Depressed
3080                              long piss be the best       en  Depressed
3081                           dwight you ignorant slut       en  Depressed

[3082 rows x 3 columns]

In [15]:
Label2 = np.random.choice(np.array(['Not_Depressed']), 4687)

In [16]:
Label2 = Label2.transpose()

In [17]:
Label2 = pd.DataFrame(Label2)

In [18]:
Label2 = Label2.rename(columns= {0: 'Label'})

In [19]:
data2 = data2.join(Label2)

In [45]:
combined_data.head()

                                               tweet language      Label
0  the real reason why you be sad you be attach t...       en  Depressed
1      my biggest problem be overthinking everything       en  Depressed
2  the worst sadness be the sadness you have teac...       en  Depressed
3  i cannot make you understand i cannot make any...       en  Depressed
4  i do not think anyone really understand how ti...       en  Depressed

In [44]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7769 entries, 0 to 7768
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet     7745 non-null   object
 1   language  7769 non-null   object
 2   Label     7769 non-null   object
dtypes: object(3)
memory usage: 182.2+ KB

0       None
1       None
2       None
3       None
4       None
        ...
7764    None
7765    None
7766    None
7767    None
7768    None
Name: language, Length: 7745, dtype: object

In [64]:
combined_data = pd.concat([data1, data2], 0, ignore_index= True )

In [65]:
combined_data.dropna(inplace= True)

In [48]:
#combined_data['Message_Length'] = combined_data['tweet'].apply(lambda x: len(x))

In [66]:
combined_data.head()

                                               tweet language      Label
0  the real reason why you be sad you be attach t...       en  Depressed
1      my biggest problem be overthinking everything       en  Depressed
2  the worst sadness be the sadness you have teac...       en  Depressed
3  i cannot make you understand i cannot make any...       en  Depressed
4  i do not think anyone really understand how ti...       en  Depressed

In [68]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7745 entries, 0 to 7768
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweet   7745 non-null   object
 1   Label   7745 non-null   object
dtypes: object(2)
memory usage: 181.5+ KB

In [67]:
combined_data.drop('language', 1, inplace= True)

In [61]:
#combined_data.dropna(axis = 1, inplace= True)

In [52]:
import string
from nltk.corpus import stopwords

def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [53]:
from sklearn.feature_extraction.text import CountVectorizer

In [69]:
cv = CountVectorizer(analyzer= text_process).fit(combined_data['tweet'])

In [ ]:
print(cv.vocabulary_)

In [100]:
bagofwords = cv.transform(combined_data['tweet'])

In [108]:
type(combined_data['tweet'])

pandas.core.series.Series

In [140]:
test = cv.transform(pd.Series('I am so sad'))

In [141]:
test2 = TfidfTransformer().fit_transform(test)

In [142]:
test2

<1x8386 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [143]:
model.predict(test2)

array(['Depressed'], dtype='<U13')

In [72]:
bagofwords.shape

(7745, 8386)

In [73]:
from sklearn.feature_extraction.text import TfidfTransformer

In [74]:
tfidf = TfidfTransformer().fit(bagofwords)

In [75]:
tfidff = tfidf.transform(bagofwords)

In [94]:
tfidff

<7745x8386 sparse matrix of type '<class 'numpy.float64'>'
	with 59480 stored elements in Compressed Sparse Row format>

In [95]:
tfidff

<7745x8386 sparse matrix of type '<class 'numpy.float64'>'
	with 59480 stored elements in Compressed Sparse Row format>

In [76]:
sparsity = (100.0 * tfidff.nnz / (tfidff.shape[0] * tfidff.shape[1]))
print('sparsity: {}'.format(round(sparsity)))

sparsity: 0

In [96]:
from sklearn.model_selection import train_test_split

In [99]:
X_test.get_shape()

(1937, 8386)

In [78]:
X_train, X_test, y_train, y_test = train_test_split(tfidff, combined_data['Label'], test_size=0.25, random_state=100)

In [79]:
from sklearn.naive_bayes import MultinomialNB

In [80]:
model = MultinomialNB().fit(X_train, y_train)

In [89]:
model.get_params()

{'alpha': 1.0, 'class_prior': None, 'fit_prior': True}

In [92]:
prediction

array(['Not_Depressed', 'Not_Depressed', 'Not_Depressed', ...,
       'Not_Depressed', 'Not_Depressed', 'Depressed'], dtype='<U13')

In [91]:
model.coef_

array([[-9.37160809, -9.80953958, -7.41293662, ..., -9.80953958,
        -9.80953958, -9.80953958]])

In [84]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))

In [85]:
prediction = model.predict(X_test)

In [86]:
prediction

array(['Not_Depressed', 'Not_Depressed', 'Not_Depressed', ...,
       'Not_Depressed', 'Not_Depressed', 'Depressed'], dtype='<U13')

In [87]:
from sklearn.metrics import classification_report

In [88]:
print(classification_report(prediction, y_test))

               precision    recall  f1-score   support

    Depressed       0.80      0.84      0.82       711
Not_Depressed       0.90      0.87      0.89      1226

     accuracy                           0.86      1937
    macro avg       0.85      0.86      0.85      1937
 weighted avg       0.86      0.86      0.86      1937

In [124]:
#import xgboost as xgb

In [123]:
#Xx_train = xgb.DMatrix(X_train, label= y_train)
#Xx_test = xgb.DMatrix(X_test, label= y_test)